<h2>Shopping Cart</h2>
<p *ngIf="cart">You have {{ cart.totalItemsCount }} items in your shopping cart.</p>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <img mat-cell *matCellDef="let item" [src]="item.product.payload.imageUrl" class="thumbnail">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let item">{{ item.product.payload.title }}</td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let item">
        <product-quantity class="row" [product]="item.product" [shopping-cart]="cart"></product-quantity>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Total Price</th>
        <td mat-cell *matCellDef="let item">{{ item.totalPrice | currency : 'GBP'}}</td>
        <td mat-footer-cell *matFooterCellDef>{{ cart.totalPrice | currency : 'GBP'}}</td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns : displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>  
</div>
<div class="row mt-5">
  <div class="col-4">
    <button class="btn btn-danger btn-sm" (click)="clearCart()">Clear items</button>
  </div>
  <div class="col-8">
    <button class="btn btn-cart" routerLink="/check-out">Check out</button>
  </div>
</div>
