<div class="row">
  <div class="col-6">
    <h2>Shipping</h2>
    <form #f="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input #name="ngModel" [(ngModel)]="shipping.name" name="name" id="name" class="form-control" type="text" required>
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">Name is required.</div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input #address="ngModel" [(ngModel)]="shipping.address" name="address" id="address" class="form-control"
            type="text" required>
          <div class="alert alert-danger" *ngIf="address.touched && address.invalid">Address is required.</div>
        </div>
        <div class="form-group">
          <input #address2="ngModel" [(ngModel)]="shipping.address2" name="address2" id="address2" class="form-control"
            type="text" required>
          <div class="alert alert-danger" *ngIf="address2.touched && address2.invalid">Address is required.</div>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input #city="ngModel" [(ngModel)]="shipping.city" name="city" id="city" class="form-control" type="text" required>
          <div class="alert alert-danger" *ngIf="city.touched && city.invalid">City is required.</div>
        </div>
        <button class="btn" (click)="placeOrder()">Place order</button> 
      </form>      
    </div>
  <div class="col-4 ml-5">
    <order-summary [shopping-cart]="shoppingCart" [dataSource]="dataSource"></order-summary>
  </div>
</div>
