<div class="row">
  <div class="col-3">
    <div class="sticky-top">
      <mat-action-list>
        <a mat-list-item 
          [class.active]="!categoryKey" 
          routerLink="/">
          All Categories
        </a>
        <a mat-list-item *ngFor="let categ of allCategories" 
          routerLink="/" 
          [queryParams]="{ category : categ.key }"
          [class.active]="categ.key === categoryKey">
          {{ categ.payload.name }}
        </a>
      </mat-action-list>
    </div>
  </div>
  <div class="col-9">
    <mat-grid-list cols="3">
      <div *ngFor="let product of filteredProducts">
        <mat-grid-tile>
          <product-card [product]="product" [shopping-cart]="cart"></product-card>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
